rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isGoogleOwner(userId) {
      return request.auth != null
        && request.auth.uid == userId
        && request.auth.token.firebase.sign_in_provider == "google.com";
    }

    function isValidPetImage(fileName) {
      return fileName.matches(
          "^pet-(idle|lie|sleep|eat|cuddle|walk-[1-4])\\.png$"
        )
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType == "image/png";
    }

    function isPublicPet(petId) {
      return firestore.get(
        /databases/(default)/documents/pets/$(petId)
      ).data.isPublic == true;
    }

    match /resources/simba/{fileName} {
      allow read;
    }

    match /users/{userId}/pets/{petId}/{fileName} {
      allow read: if isGoogleOwner(userId) || isPublicPet(petId);
      allow create, update: if isGoogleOwner(userId)
        && isValidPetImage(fileName);
      allow delete: if isGoogleOwner(userId);
    }
  }
}
